{# Jinja2 Table #}

{% set service_id = "123456" %}
{% set name = "" %}
{% set instance = "100" %}

=================================================================
| {{ "Router: %s" | format("usex.dcxx")|center(62)}}|
| {{ "VPLS Service ID: %s" | format(service_id)   |center(62)}}|
=================================================================
| {{ "%20s"| format("123 GROUP NAME") }} {{ "%10s" | format("|") }} {{ name | center(30) }}|
|-------------------------------------------------------------- |
| {{ "%20s"| format("INSTANCE") }} {{ "%10s" | format("|") }} {{ instance | center(30) }}|
|-------------------------------------------------------------- |
